#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Introduce commonly used Data Science libraries  
- Demonstrate evaluating arithmetic expressions in Python  
- Learn how to format text using Markdown in Jupyter Notebooks  
- Create tables using Markdown synta

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

#Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. matplotlib
3. seaborn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| VS Code                   |

###Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [8]:
200 / 60
This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Author**

Iain